<nav class="navbar">
  <a href="/">
    <h1 class="navbar-brand mb-0">Cugram</h1>
  </a>
</nav>


<style>
  .navbar {
    color: #149fff;
    height: 60px;
    background-color: #fff !important;
  }

  .navbar-brand {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
</style>