<div class="main">
    <h5 class="mt-2"><b>What you can find here..?</b></h5>
    <ul class="mt-2 ml-3">
        <li>Previous question papers</li>
        <li>Modal question</li>
        <li>Study materials</li>
        <li>Syllabus</li>
        <li>PDF books</li>
        <li>Time tables</li>
        <li>Project</li>
        <li>Results</li>
    </ul>
    <h5 class="mt-2"><b>Whats our mission...?</b></h5>
    <h6 class="text mt-2">Studocu is a place for college students. here you can download every documents you want for
        studies. most of the notes and and question papers are already on the internet. but everything is scattered
        throughout websites and its all hard to find. so we are trying to make them all group. then everyone can easly
        found it. you can also support us by adding the link of documents in the correct place.. Now we have only calicut university.. in future we 
        add others too.. you can take an <a class="g" href="/myprofile"><b>Account</b></a> on this app and save your documents in Saved
        List. Just click on your Browsers bar and add this to your homescreen. This site is made for mobiles</h6>
    <h5 class="mt-2"><b>Contact us<b></h5>
    <div class=" mt-2 ml-1">
        <p class="g"><b>gbrozdev@gmail.com</b></p>
        <a class="g" href=""><p><b>7034598461</b> whatsapp only</p></a>
    </div>

</div>



<style>
    .g {
        color: green;
    }
    .g:hover{
        color: green;
    }

    .main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .text {
        color: rgb(70, 70, 70);
        font-family: 'Times New Roman', Times, serif;
        font-weight: 500;
        font-size: 18px;
    }

    .head {
        color: rgb(219, 97, 219);
    }

    ul {
        font-family: monospace;
        font-size: 17px;
        font-weight: 500;
    }
</style>