
<form action="/add-noti" method="post">
    <input type="text" placeholder="Notification  name" name="name" id="">
    <input type="text" placeholder="Notification  content" name="content" id="">
    <input type="text" placeholder=" Link" name="link" id="">
    <input type="submit" value="Add">
</form>
