
<form action="/add-syllabus" method="post">
    <input type="text" placeholder="Course name" name="course" id="">
    <input type="text" placeholder="Syllabus Link" name="link" id="">
    <input type="submit" value="Add">
</form>
