
<form action="/add-aboutus" method="post">
    <input type="text" placeholder="Key " name="key" id="">
    <input type="text" placeholder="Value " name="value" id="">
    <input type="text" placeholder="Link " name="link" id="">
    <input type="submit" value="Add">
</form>
