
<form action="/ads" method="post">
{{!-- <label for="inter">inter</label>
    <input type="radio" name="inter" id="inter">
<label for="video">video</label>
    <input type="radio" name="video" id="video">
<label for="banner">banner</label>
    <input type="radio" name="banner" id="banner">
<label for="all">all</label>
    <input type="radio" name="all" id="all"> --}}


<label for="all">ON</label>
    <input type="radio" name="ad"  id="all"> 

    <input type="submit" value="Done">
</form>
